{% load static %}
<!doctype html>
<html>
    <head>
      <title>Blogs</title>
      <link rel="stylesheet" href="{% static 'blog-post.css' %}">
    </head>
    <body>
      <header>
        <div>My Blog Posts</div>
        <nav>
          <a href="create.html">Create a Post</a>
        </nav>
      </header>
      <main>
          {% for post in blogs %}
        <div class="main-page-book-review">
          <h2 class="book-title">
            <a href="detail.html">{{ post.title }}</a>
          </h2>
          <div class="book-rating">{{ post.rating }}</div>
          <h3>Summary</h3>
          <p>
            To most of us, learning something “the hard way”
            implies wasted time and effort. Good teaching, we
            believe, should be creatively tailored to the
            different learning styles of students and should
            use strategies that make learning easier. Make It
            Stick turns fashionable ideas like these on their
            head. Drawing on recent discoveries in cognitive
            psychology and other disciplines, the authors
            offer concrete techniques for becoming more
            productive learners.
          </p>
        </div>
      </main>
      <footer>
        <div>
          Copyright 2022 by me
        </div>
        <p>
          This is my site that contains all of my book reviews
          that you can read to see if you'd like that book.
        </p>
      </footer>
    </body>
  </html>